albumentations==2.0.8
numpy==2.3.1
opencv_contrib_python==4.10.0.84
opencv_python==4.9.0.80
pandas==2.3.1
Pillow==11.3.0
scikit_learn==1.7.0
scipy==1.16.0
tem==0.0.0
timm==1.0.17
torch==2.6.0+cu126
torchvision==0.21.0+cu126
tqdm==4.66.2
transformers==4.49.0
